/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font: "Sour Gummy", sans-serif;
    --secondary-font: "Alegreya", serif;
    --primary-color: #b3d9ff;
    /* Pastel Blue */
    --secondary-color: #c1e1c1;
    /*  Sage Green */
    --highlight-color: #98FB98;
    /* Light Green*/
    --highlight-color-light: #ffb6c1;
    /* Soft Pink */
}

/* Global styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}


/* Navbar */

#navbar {
    background-color: var(--secondary-color);

}

.navbar {
    padding: 0;
    margin: 0;
}

/* Hero section */
#hero {
    background: url("../images/pexels-babydov-7788657.webp") no-repeat center center/cover;
    width: 100%;
    height: 600px;
    position: relative;
}

.hero {
    text-align: center;
    margin: 0;
    padding-bottom: 329px;
    color: black
}


#cover-text {
    font-size: 24px;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 100px;
    padding-top: 350px;
    padding-left: 52px;
}

/* Our organisation */

#our-organisation-text {
    margin-top: 29px;
}

#our-organisation-photo {
    width: 26rem;
    margin-left: 6px;
    padding: 16px;
}

/* Buttons */

.custom-button {
    background-color: var(--primary-color);
    color: white;
}

.custom-button:hover {
    background-color: var(--highlight-color-light);
    color: white;
}

/* Contact section */
#contact {
    background-color: var(--secondary-color);
}

#contact i {
    color: white;
}
.social-links a{
    padding: 5px;
    font-size: 24px;

}
/* media queries */

/* Media query: 320px and up  */
@media screen and(min-width: 320px) {
    .hero {
        padding-bottom: 302px;
    }
}

/* Media query: 768px and up  */
@media screen and(min-width: 768px) {
    .hero {
        padding-bottom: 365px;
    }
}

/* Media query: 1024px and up  */
@media screen and(min-width: 1024px) {
    .hero {
        padding-bottom: 383px;
    }
}

/* Media query: 1440px and up  */
@media screen and(min-width: 1440px) {
    .hero {
        padding-bottom: 401px;
    }

    #our-organisation-photo {
        width: 26rem;
        margin-left: 160px;
        margin-right: 10px;
        padding: 16px;
    }
}