/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font: "Sour Gummy", sans-serif;
    --secondary-font: "Alegreya", serif;
    --primary-color:#b3d9ff; /* Pastel Blue */
    --secondary-color:#c1e1c1; /*  Sage Green */
    --highlight-color:#98FB98; /* Light Green*/
    --highlight-color-light: #ffb6c1; /* Soft Pink */
}

/* Global styles */
body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

/* Navbar */

#navbar {
    background-color: var(--secondary-color)
}